body {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    background-color: white;
}

.header {
    background-color: #815f32;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.titulo {
    color: white;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

.banner {
    padding: 40px 20px 30px 10px;
    color: #fff;
    height: 400px;
    background-image: url(https://www.mashed.com/img/gallery/what-are-shiitake-mushrooms-and-what-do-they-taste-like/l-intro-1636039736.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f5dab3;
    border-bottom: 2px solid #f5dab3;
}

.banner .container {
    margin-left: 2%;
    margin-top: -2%;
}

.banner .container p {
    font-family: ;
    font-size: 25px;
    width: 25%;
    text-transform: uppercase;
}

.servicos p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.servicos b {
    color: darkred;
    margin: 0 5px;
}

.servicos img {
    height: 400px;
    width: 750px;
    margin-left: 23%;
    margin-bottom: 5%;
}

footer{
    background-color: #815f32;  
    display: flex 
    width: 50%;
    margin: auto;
}

footer p{
    margin-left: 2%;    
}

footer img{
    margin-right: 25%;
}